<nav class="sidebar">
    <div id="btn-nav">
      <a href="/profile">
        <img src="assets/Profile_Button.png" alt="Profile" class="profile-icon">
      </a>
    </div>
  
    <button type="submit" id="add-post-btn">+</button>
  
    <div class="web-btn-wrapper">
      <a href="/home">
        <img src="assets/Web_Button.png" alt="Home" class="web-icon">
      </a>
    </div>
  
    <div class="logout-wrapper">
      <a href="/">
        <img src="assets/Logout_Button.png" alt="Logout" class="logout-icon">
      </a>
    </div>
  </nav>
  